<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Polygon</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="add-polygon">Add Polygon</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <form action="add-polygon" method="POST">
            <input type="text" name="title">
            <button type="submit">Add Polygon</button>
        </form>
    </main>
</body>

</html>