<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title testpoint
    body
        header
            nav
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="add-polygon") Add Polygon
        main
            form(action="testpoint", method="POST")
                input(type="text", name="coordinates")
                button(type="submit") Search
            p #{list}